#community h3{
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 8px;
    color: #4D4D4D;
}
#community > p{
    text-align: center;
    font-size: 16px;
    color: #4D4D4D;
    padding-bottom: 16px;
}
.community{
    display: flex;
    justify-content: space-around;
}
.community span{
    text-align: center;
    padding-top: 24px;
}
.community h6{
    font-size: 28px;
    font-weight: bold;
    color: #4D4D4D;
    padding-top: 16px;
    padding-bottom: 8px;
}
.community p{
    font-size: 14px;
    color: #717171;
}

#community{
    padding-bottom: 42px;
}