footer div {
  display: flex;
  justify-content: space-around;
  background-color: var(--neutral-black);
  padding-block: 64px;
}

footer div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer div div:nth-child(1) p{
    font: var(--body-3);
    line-height: 170%;
    color: var(--neutral-white);
}

footer div div:nth-child(1) span{
    display: flex;
    gap: 16px;
}

#company {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: var(--body-3);

    a{
        color: var(--neutral-white);
    }

    p:nth-child(1){
        padding-bottom: 24px;
        font: var(--h4);
        color: var(--neutral-white);
    }
}

footer div div:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 16px;
    p{
        padding-bottom: 24px;
        font: var(--h4);
        color: var(--neutral-white);
    }

    a{
        color: var(--neutral-white);
    }
}

footer div div:nth-child(4){
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px   ;
}

