
nav{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    background-color: #F5F7FA;
}
nav div img{
    vertical-align: middle;
}
nav div a {
    text-decoration: none;
}
#nav a{
    padding: 0px 10px;
    font-size: 16px;
    color: #18191F;
}
#login{
    color: #4CAF4F;
    padding: 9px 15px;
    font-size: 14px;
}
#sign{
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #4CAF4F;
    padding: 9px 15px;
    font-size: 14px;
}