
#initial{
    display: flex;
    justify-content: space-around;
    background-color: #F5F7FA;
}
#initial-text{
    padding: 161px 0px 161px 144px;
}
#initial-img{
    padding-right: 144px;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 40px;
}
h1{
    font-size: 64px;
    color: #4D4D4D;
    line-height: 76px;
}
h1 span{
    color: #4CAF4F;
}
#initial-text p{
    font-size: 16px;
    color: #717171;
    line-height: 24px;
    margin-bottom: 32px;
}
#initial-text a {
    font-size: 16px;
    color: #FFFFFF;
    padding-inline: 32px;
    padding-block: 14px;
    background-color: #4CAF4F;
    border-radius: 4px;
    text-decoration: none;
}
